{
  "version": "1.0.0-alpha",
  "messageTemplate": {
    "name": "Camera 3D Bounding Box",
    "isSensor": true,
    "segmentList": [
      {
        "type": "REPEAT",
        "relationName": "CameraEntity",
        "repeatFieldName": "camera_attributes.bound_box_data",
        "groupOutputFormat": "JSON",
        "fieldList": [
          { "variableName": "annotation", "variableType": "STRING", "length": 64 },
          { "variableName": "bounding_box_3D8_points.corner_points_1.x", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.corner_points_1.y", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.corner_points_1.z", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.corner_points_2.x", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.corner_points_2.y", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.corner_points_2.z", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.corner_points_3.x", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.corner_points_3.y", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.corner_points_3.z", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.corner_points_4.x", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.corner_points_4.y", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.corner_points_4.z", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.corner_points_5.x", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.corner_points_5.y", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.corner_points_5.z", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.corner_points_6.x", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.corner_points_6.y", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.corner_points_6.z", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.corner_points_7.x", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.corner_points_7.y", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.corner_points_7.z", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.corner_points_8.x", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.corner_points_8.y", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.corner_points_8.z", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.projected_corner_points_1.x", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.projected_corner_points_1.y", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.projected_corner_points_2.x", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.projected_corner_points_2.y", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.projected_corner_points_3.x", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.projected_corner_points_3.y", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.projected_corner_points_4.x", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.projected_corner_points_4.y", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.projected_corner_points_5.x", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.projected_corner_points_5.y", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.projected_corner_points_6.x", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.projected_corner_points_6.y", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.projected_corner_points_7.x", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.projected_corner_points_7.y", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.projected_corner_points_8.x", "variableType": "FLOAT" },
          { "variableName": "bounding_box_3D8_points.projected_corner_points_8.y", "variableType": "FLOAT" }
        ]
      }
    ]
  }
}
